#friends{:class => "invite-facebook-button"}
  %p= link_to "Use facebook to invite friends", "#", :id => "invite_fb_friends",:class =>"btn btn-info" , "data-data" => "#{current_user.full_name}"
  #fb-root
  %script{:src => "http://connect.facebook.net/en_US/all.js"}