.modal-header
  %span{:style => 'font-size: 14px; color: #E36B23'}
    Your Gamil Contacts:
.modal-body
  %span
  #list_of_contacts
    %table{:id => "fetched_gmail_contacts_list", :width => "100%"}
      -all_contacts.each do |contact|
        %tr
          %td
            %input{:type=>"checkbox", :name=>"contact_list", :id => contact}
          %td
            = contact

#pageNavPosition

.modal-footer
  %span{:class => 'btn btn-primary btn-large', :id => 'add-contacts'} Invite
  
%script{:type => "text/javascript"}
  var pager = new Pager('fetched_gmail_contacts_list', 10, 'pager', 'pageNavPosition');
  pager.init();
  pager.showPage(1);
