#contacts-modal{:style => 'display:none;'}
  - if !all_contacts.blank?
    .modal-header
      %h1 Your Gmail Contacts
      %br
      %span{:class => 'label label-important'} Note : You can invite up to maximum of 25 contacts
    .modal-body
      %table{:id => "fetched_gmail_contacts_list"}
        - all_contacts.each do |contact|
          %tr
            %td
            %td
              %input{:type=>"checkbox", :name=>"contact_list", :id => contact}
            %td
              = contact
      %br
      - if all_contacts.size > 7 
        #pagination
      %br
      .loader.pull-left{:style => 'display: none;'}
        = image_tag('loader.gif')
    #no-selection-error
    .modal-footer
      #invite-gmail-contacts{:class => 'btn btn-primary btn-large pull-left enter-key'}
        Invite

    - if all_contacts.size > 7
      %script{:type => "text/javascript"}
        var pager = new Pager('fetched_gmail_contacts_list', 6, 'pager', 'pagination');
        pager.init();
        pager.showPage(1);
  - else
    .modal-header
    .modal-body
      %h2
        #no-contacts
          %small Looks like you don't have any gmail contacts
    .modal-footer
