#import-gmail-contacts{:class => 'modal hide fade'}
  .modal-header
    %h2 Fill in your Gmail account information
  .modal-body
    %label.label Email*
    = text_field_tag 'gmail_userid'
    %label.label Password*
    = password_field_tag 'gmail_password'
    %br
    .loader{:style => 'display: none;'}
      = image_tag('loader.gif')
    %br
    %span{:class => 'btn btn-primary btn-large', :id => 'fetch-gmail-contacts'} Submit

