:plain
  $("#import-gmail-contacts").html("#{escape_javascript(render 'gmail_contacts_form', :locals => {:all_contacts => @gmail_contacts})}" + "#{escape_javascript(render :partial => 'gmail_contacts_list', :locals => {:all_contacts => @gmail_contacts})}");
  $("#import-modal").toggle();
  $("#contacts-modal").toggle();
