.hero-unit
  .text-center
    %h2
      %small Your invite has been successfully sent to the emails your provided. Thank you for letting your friends know about us.
      %br
      = link_to('Go back' , user_invites_path(current_user), :class => 'btn btn-info btn-large')