- if @recent_hook_ups.empty?
  .hero-unit
    = render 'no_hookups'
- else
  .hero-unit
    %h2.text-center 
      Your recent activity specific to requesting or offering rides
    %br
    = render 'grid'
