.DS_Store
*.swp
.sass-cache
.bundle/*

.rvmrc

ignored/*

db/schema.rb
config/database.yml

log/*
logs/*

public/stylesheets
public/version.txt

tmp/
tmp/**/*

results/*

rcov/*

test/performance/public/*

coverage/*
