- if @paginated_results.empty?
  #no_results
    %span
      Sorry! We could'nt find anything for your search criteria. 
      = link_to('Go back', home_index_path)
      and try again.
- else
  = will_paginate @paginated_results