.results
  %h2 
    Based on the criteria you used for your offer, We found
    = pluralize(@paginated_results.total_entries, 'dude') 
    looking for a ride.
  %br
  %p
  = render :partial => 'shared/rides_table', :locals => {:results => @paginated_results, :type => :ride_request}
  = will_paginate @paginated_results, :renderer => BootstrapLinkRenderer
