.no-results
  %h2
    %small
      Based on the criteria you used for your offer, We found no one requesting a ride at the moment. You will be notified if someone responds to your offer.
  %br
  .text-center
    %h2
      %small
        = link_to('Go back', new_ride_offer_path, :class => 'btn btn-info btn-large')
