form {
  font-family: 'Hammersmith One', sans-serif;
  @include blueprint-form; }

#form_wrapper, .form_wrapper {
  background: #e5e5e5;
  border-color: #e5e5e5;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  -moz-opacity:0.7;
  opacity: 0.7;
  .submit {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
	padding-left:10px;
	padding-right:10px;
	background-color: #717883;
	border: solid 1px #717883;
	text-decoration:none;
	font-size: 1.5em;
	font-family: 'Hammersmith One', sans-serif;
	cursor:pointer;
   }
   .form_error {
     h3 { font-size: 0.75em; }
     margin-left: 15px;
     color: #b52534;
  }
}

#error_explanation {
  margin-bottom: 10px; 
  padding-bottom: 10px;
  ul {
    list-style-type: none;
  }
  li {
    padding: 5px;
  }
  color: #b52534; 
  font-size: 0.80em;
}
