form {
  font-family: 'Aldrich', sans-serif;
  @include blueprint-form; }

#form_wrapper {
  background: #c3c3c3;
  border-color: #b3b3b3;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  -moz-opacity:0.7;
  opacity: 0.7;
}

#error_explanation {
  margin-bottom: 10px; 
  padding-bottom: 10px;
  ul {
    list-style-type: none;
  }
  li {
    padding: 5px;
  }
  color: #b52534; 
  font-size: 0.80em;
}
