body.one_col {
  height: 100%;
  
  #container {
    margin: 0 30px;
    background: #fff;
    height: 100%;
  }

  #header {
    background: #606060;
    padding: 20px;
    height: 10%;
    #big-label {
      h1 {   
        color: #b3b3b3;
        font-weight: bold;
        font-family: 'Wallpoet', cursive;
        font-size: 200%;
        margin: 0;
      }
    }
    #header-logo { 
      position: absolute;
      right: 65px;
      top: 9px; 
    }
  }

  #content {
    position: relative;
    min-height: 100%;
    clear: left;
    padding: 50px;
    border-left: solid 1px #b3b3b3;
    border-right: solid 1px #b3b3b3;
  }

  #splash_image {
    width: 320px;
    height: 320px;
    background: image_url('carpool_logo.gif') no-repeat;
    -moz-opacity:0.2;
    opacity: 0.2;
    position: absolute;
    left: 450px;
    top: 395px;
  }

  #content h2 {
    color: #000;
    font-size: 160%;
    margin: 0 0 .5em;
  }

  #sub-footer {
    background: #e5e5e5;
    padding: 20px;
    height: 8%; 
    border-left: solid 1px #b3b3b3;
    border-right: solid 1px #b3b3b3;
    #footer-navigation {
      float: left;
      margin-left: 50px;
      padding: 5px;
      font-size: 80%;
      #first {
        position: absolute;
        bottom: -290px;
        left: 100px;
      }
      #second {
        position: absolute;
        bottom: -290px;
	    left: 270px;
      }
      #first, #second {
        ul {
          list-style-type: none;
        }
        li {
	      padding-bottom: 5px;
	    }
	  }
    }
  }

  #footer {
    color: #b3b3b3;
    font-family: 'Wallpoet', cursive;
    background: #606060;
    text-align: right;
    padding: 20px;
    height: 1%;
  }

}
