body.one_col {
  height: 100%;
  
  #container {
    margin: 0 30px;
    background: #fff;
    height: 100%;
  }

  #header {
    box-shadow: 1px 1px 11px #AEB6B9;
    margin-top: 10px;
    border: solid 2px #AEB6B9;
    padding: 20px;
    height: 8%;
    #big-label {
      padding-left: 10px;
      h1 {   
        color: #606060;
        font-weight: bold;
        font-family: 'Anonymous Pro', sans-serif;
        font-size: 3.5em;
        margin: 0;
      }
      span.header_text { cursor: pointer; }
    }
    #custom_select {
      position: absolute;
      left: 425px;
      top: 40px;
    }
    #header-logo { 
      position: absolute;
      left: 50px;
      top: 6px; 
    }
    #user_nav {
      font-size: 0.85em;
      color: #606060;
      #auth {
        position: absolute;
        top: 60px;
        right: 35px;
      }
      #no_auth {
        position: absolute;
        top: 80px;
        right: 35px;
      }
      a:link { color: #606060; }
	  a:visited { color: #606060; }
    }
  }

  #content {
    color: #606060;
    position: relative;
    min-height: 100%;
    clear: left;
    padding: 30px;
    border-left: solid 2px #AEB6B9;
    border-right: solid 2px #AEB6B9;
  }

  #splash_image {
    width: 320px;
    height: 320px;
    -moz-opacity:0.2;
    opacity: 0.2;
    position: absolute;
    left: 450px;
    top: 395px;
  }

  #content h2 {	
    font-size: 160%;
    margin: 0 0 .5em;
  }

  #sub-footer {
    a:link { color: #606060; }
	a:visited { color: #606060; }
    padding-top: 10px;
    padding-bottom: 20px;
    height: 8%; 
    border-left: solid 2px #AEB6B9;
    border-right: solid 2px #AEB6B9;
    #footer-navigation {
      float: left;
      margin-left: 50px;
      padding: 5px;
      font-size: 80%;
      #first, #second {
        margin-left: 20px;
        float: left;
        ul {
          list-style-type: none;
        }
        li {
	      padding-bottom: 5px;
	    }
	  }
    }
  }

  #footer {
    # background-image: url(/images/dropzone_repeating_pattern.png);
    # background-color: #AEB6B9;
    border: solid 2px #AEB6B9;
    color: #606060;
    font-family: 'Anonymous Pro', sans-serif;
    text-align: right;
    padding: 20px;
    height: 1%;
    margin-bottom: 10px;
  }

}
