body.one_col {

  #container {
    margin: 0 30px;
    background: #fff;
  }

  #header {
    background: #606060;
    padding: 20px;
    height: 50%;
    #big-label {
      h1 {   
        color: #b3b3b3;
        font-weight: bold;
        font-size: 300%;
        margin: 0;
      }
    }
    #header-links {
      float: right;
      margin-bottom: 20px;
      padding-bottom: 20px;
      width: 10%;
    }
  }

  #content {
    height: 420px;
    clear: left;
    padding: 20px;
    background: #f6f6f6;
  }

  #content h2 {
    color: #000;
    font-size: 160%;
    margin: 0 0 .5em;
  }

  #footer {
    color: #b3b3b3;
    background: #606060;
    text-align: right;
    padding: 20px;
    height: 1%;
  }

}
