/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 12, ../../app/stylesheets/partials/_base.scss */
.cb-enable, .cb-disable, .cb-enable span, .cb-disable span {
  background: url(/images/switch.gif) repeat-x;
  display: block;
  float: left;
}

/* line 13, ../../app/stylesheets/partials/_base.scss */
.cb-enable span, .cb-disable span {
  line-height: 30px;
  display: block;
  background-repeat: no-repeat;
  font-weight: regular;
}

/* line 14, ../../app/stylesheets/partials/_base.scss */
.cb-enable span {
  background-position: left -90px;
  padding: 0 20px;
}

/* line 15, ../../app/stylesheets/partials/_base.scss */
.cb-disable span {
  background-position: right -180px;
  padding: 0 20px;
}

/* line 16, ../../app/stylesheets/partials/_base.scss */
.cb-disable.selected {
  background-position: 0 -30px;
}

/* line 17, ../../app/stylesheets/partials/_base.scss */
.cb-disable.selected span {
  background-position: right -210px;
  color: #fff;
}

/* line 18, ../../app/stylesheets/partials/_base.scss */
.cb-enable.selected {
  background-position: 0 -60px;
}

/* line 19, ../../app/stylesheets/partials/_base.scss */
.cb-enable.selected span {
  background-position: left -150px;
  color: #fff;
}

/* line 21, ../../app/stylesheets/partials/_base.scss */
.submit_button {
  padding-left: 5px;
  padding-right: 5px;
  border: solid 1px #717883;
  background-color: #717883;
  text-decoration: none;
  font-size: 1.0em;
  font-family: 'Hammersmith One', sans-serif;
  cursor: pointer;
}

/* line 1, ../../app/stylesheets/partials/_form.scss */
form {
  font-family: 'Aldrich', sans-serif;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form label {
  font-weight: bold;
}
/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  margin: 0.5em 0;
}
/* line 55, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password],
form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text:focus, form input.title:focus, form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus,
form textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  width: 300px;
}
/* line 46, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  width: 390px;
  height: 250px;
}

/* line 5, ../../app/stylesheets/partials/_form.scss */
#form_wrapper {
  background: #e5e5e5;
  border-color: #e5e5e5;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  -moz-opacity: 0.7;
  opacity: 0.7;
}

/* line 20, ../../app/stylesheets/partials/_form.scss */
#error_explanation {
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #b52534;
  font-size: 0.80em;
}
/* line 23, ../../app/stylesheets/partials/_form.scss */
#error_explanation ul {
  list-style-type: none;
}
/* line 26, ../../app/stylesheets/partials/_form.scss */
#error_explanation li {
  padding: 5px;
}

/* line 1, ../../app/stylesheets/partials/_one_col.scss */
body.one_col {
  height: 100%;
}
/* line 4, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #container {
  margin: 0 30px;
  background: #fff;
  height: 100%;
}
/* line 10, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #header {
  background: #606060;
  padding: 20px;
  height: 10%;
}
/* line 14, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #header #big-label {
  padding-left: 10px;
}
/* line 16, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #header #big-label h1 {
  color: #b3b3b3;
  font-weight: bold;
  font-family: 'Anonymous Pro', sans-serif;
  font-size: 3.5em;
  margin: 0;
}
/* line 24, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #header #header-logo {
  position: absolute;
  left: 50px;
  top: 6px;
}
/* line 29, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #header #user_nav {
  color: #b3b3b3;
  float: right;
}
/* line 32, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #header #user_nav a:link {
  color: #638ea8;
}
/* line 33, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #header #user_nav a:visited {
  color: #638ea8;
}
/* line 37, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #content {
  color: #606060;
  position: relative;
  min-height: 100%;
  clear: left;
  padding: 30px;
  border-left: solid 1px #b3b3b3;
  border-right: solid 1px #b3b3b3;
}
/* line 47, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #splash_image {
  width: 320px;
  height: 320px;
  background: url('../images/carpool_logo.gif') no-repeat;
  -moz-opacity: 0.2;
  opacity: 0.2;
  position: absolute;
  left: 450px;
  top: 395px;
}
/* line 58, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #content h2 {
  font-size: 160%;
  margin: 0 0 .5em;
}
/* line 63, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #sub-footer {
  background: #e5e5e5;
  padding-top: 10px;
  padding-bottom: 20px;
  height: 8%;
  border-left: solid 1px #b3b3b3;
  border-right: solid 1px #b3b3b3;
}
/* line 64, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #sub-footer a:link {
  color: #638ea8;
}
/* line 65, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #sub-footer a:visited {
  color: #638ea8;
}
/* line 72, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #sub-footer #footer-navigation {
  float: left;
  margin-left: 50px;
  padding: 5px;
  font-size: 80%;
}
/* line 77, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #sub-footer #footer-navigation #first, body.one_col #sub-footer #footer-navigation #second {
  margin-left: 20px;
  float: left;
}
/* line 80, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #sub-footer #footer-navigation #first ul, body.one_col #sub-footer #footer-navigation #second ul {
  list-style-type: none;
}
/* line 83, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #sub-footer #footer-navigation #first li, body.one_col #sub-footer #footer-navigation #second li {
  padding-bottom: 5px;
}
/* line 90, ../../app/stylesheets/partials/_one_col.scss */
body.one_col #footer {
  color: #b3b3b3;
  font-family: 'Anonymous Pro', sans-serif;
  background: #606060;
  text-align: right;
  padding: 20px;
  height: 1%;
}

/* line 13, ../../app/stylesheets/application.scss */
html {
  height: 100%;
  font-family: 'Varela Round', sans-serif;
}

/* line 18, ../../app/stylesheets/application.scss */
#welcome_block {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 23, ../../app/stylesheets/application.scss */
#welcome_block h1 {
  font-size: 200%;
}

/* line 26, ../../app/stylesheets/application.scss */
#signup_block {
  margin-top: 150px;
  padding-top: 100px;
  width: 100%;
  text-align: center;
}
/* line 30, ../../app/stylesheets/application.scss */
#signup_block a:link {
  color: #638ea8;
}
/* line 31, ../../app/stylesheets/application.scss */
#signup_block a:visited {
  color: #638ea8;
}
/* line 33, ../../app/stylesheets/application.scss */
#signup_block h1 {
  font-size: 225%;
}

/* line 38, ../../app/stylesheets/application.scss */
#message {
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 41, ../../app/stylesheets/application.scss */
#message span {
  font-size: 2.0em;
}

/* line 46, ../../app/stylesheets/application.scss */
#search_block {
  background: #e5e5e5;
  border-color: #e5e5e5;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  height: 300px;
}
/* line 47, ../../app/stylesheets/application.scss */
#search_block #search_error {
  margin-left: 30px;
  color: #b52534;
}
/* line 51, ../../app/stylesheets/application.scss */
#search_block #spinner_block {
  padding-top: 60px;
  padding-bottom: 20px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  font-size: 125%;
}
/* line 65, ../../app/stylesheets/application.scss */
#search_block #inputs {
  font-size: 200%;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
/* line 67, ../../app/stylesheets/application.scss */
#search_block #inputs span {
  margin-left: 30px;
}
/* line 68, ../../app/stylesheets/application.scss */
#search_block #inputs input {
  width: 250px;
}
/* line 77, ../../app/stylesheets/application.scss */
#search_block #options {
  font-size: 150%;
  width: 55%;
  padding-top: 20px;
  padding-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 86, ../../app/stylesheets/application.scss */
#search_block #submit {
  font-size: 150%;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 70px;
}
/* line 87, ../../app/stylesheets/application.scss */
#search_block #submit input {
  width: 200px;
}

/* line 98, ../../app/stylesheets/application.scss */
#search_results_block {
  height: 300px;
  padding: 10px;
  width: 100%;
  text-align: center;
}
/* line 99, ../../app/stylesheets/application.scss */
#search_results_block a:link {
  color: #638ea8;
}
/* line 100, ../../app/stylesheets/application.scss */
#search_results_block a:visited {
  color: #638ea8;
}
/* line 105, ../../app/stylesheets/application.scss */
#search_results_block #no_results {
  font-size: 1.0em;
  color: #b52534;
}
/* line 110, ../../app/stylesheets/application.scss */
#search_results_block #results #list {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #e5e5e5;
  border-color: #e5e5e5;
  -moz-border-radius: 10px;
}
/* line 118, ../../app/stylesheets/application.scss */
#search_results_block #results #list table {
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 35px;
  font-size: 1.25em;
  width: 80%;
  border-spacing: 8px;
}
/* line 126, ../../app/stylesheets/application.scss */
#search_results_block #results #list table tr td.image {
  width: 100px;
}
/* line 127, ../../app/stylesheets/application.scss */
#search_results_block #results #list table tr td.name {
  width: 400px;
}
/* line 128, ../../app/stylesheets/application.scss */
#search_results_block #results #list table tr td.contact_link {
  font-size: 75%;
}
/* line 132, ../../app/stylesheets/application.scss */
#search_results_block #results span.total {
  font-size: 1.5em;
  font-weight: bold;
}
/* line 136, ../../app/stylesheets/application.scss */
#search_results_block #results span.go_back {
  font-size: 1.0em;
}

/* line 143, ../../app/stylesheets/application.scss */
#flash_alert, #flash_error, #flash_warning, #flash_notice {
  text-align: center;
  padding: 10px;
  background: #eceeeb;
  border-color: #eceeeb;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
  margin-bottom: 15px;
  -moz-border-radius: 7px;
  color: #b52534;
}

/* line 158, ../../app/stylesheets/application.scss */
#banner_block, #general_hint {
  width: 100%;
  text-align: center;
  margin: 5px;
}

/* line 164, ../../app/stylesheets/application.scss */
#about_block {
  background: #e5e5e5;
  border-color: #e5e5e5;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  text_align: left;
}
/* line 171, ../../app/stylesheets/application.scss */
#about_block h1 {
  font-size: 200%;
  margin: 15px;
}
/* line 175, ../../app/stylesheets/application.scss */
#about_block #text {
  margin: 10px;
  padding: 10px;
  color: #666;
}
/* line 180, ../../app/stylesheets/application.scss */
#about_block #about_image {
  margin: 50px;
  width: 100%;
  margin-left: 450px;
}

/* line 187, ../../app/stylesheets/application.scss */
#general_hint {
  color: #666;
  font-weight: regular;
  font-size: 0.85em;
}

/* the overlayed element */
/* line 194, ../../app/stylesheets/application.scss */
.tos_overlay {
  display: none;
  background-image: url(/images/overlay/white.png);
  width: 640px;
  padding: 35px;
  font-size: 1.0em;
}

/* default close button positioned on upper right corner */
/* line 203, ../../app/stylesheets/application.scss */
.tos_overlay .close {
  background-image: url(/images/overlay/close.png);
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  height: 35px;
  width: 35px;
}
