.notice-area {
	height: 50px;
}
.home {
	.signup-block {
		h3 {
			margin: 25px!important;
			text-align: center!important;
		}
	}
}
p.inline-errors {
	margin-top: 0px!important;
	font-size: 13px!important;
	color: #cf210b;
}

#dp3 p.inline-errors {
  padding: 40px 0 0 0;
	font-size: 13px!important;
	color: #cf210b;
}
.carousel {
	background-color: #dcebda;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.carousel-container {
	margin: 80px 0 80px 0;
	padding: 0px;
	text-align: center;
}
.footer-image {
	text-align: center;
}
.accordion-heading {
	cursor: pointer;
}
.accordion-heading h3{
	color: ##999;
}
.accordion-heading .accordion_errors {
	color: #cf210b;
	float: right;
	margin: -22px 10px 0 0;
}

input#ride_request_start_time, input#ride_offer_start_time{
  width: 150px;
}
.sign-in-footer {
	margin-top: 35px;
}
.error-image{
    text-align: center;
}
.error-center{
    text-align: center;
    margin: 30px;
}

