.navbar {
  height: 70px;
  color: #999999 !important;
}
.container {
  height: 100%;
}
.footer {
  margin-top: 110px;
  margin-bottom: 50px;
}
div.container a.blue-underline {
  color: #3A87AD;
  text-decoration: none;
}
p.hookup-msg {
  font-size: 17px;
}
p.hookup-msg b, p.hookup-contact-info b {
  font-size: 18px;
  color: #FFFFFF !important;
  font-weight: bold;
}
p.hookup-contact-info {
  line-height: 22px;
}
p.hookup-msg-addl {
  line-height: 20px;
  font-size: 16px;
}
.hero-unit p {
    color: inherit !important;
}
.badge {
   color: #FFFFFF !important;
}
.back-color{
    background: linear-gradient(top, #9DA7B3 11%, #E2E9F0 48%, #9DA7B3 86%);
    background: -o-linear-gradient(top, #9DA7B3 11%, #E2E9F0 48%, #9DA7B3 86%);
    background: -moz-linear-gradient(top, #9DA7B3 11%, #E2E9F0 48%, #9DA7B3 86%);
    background: -webkit-linear-gradient(top, #9DA7B3 11%, #E2E9F0 48%, #9DA7B3 86%);
    background: -ms-linear-gradient(top, #9DA7B3 11%, #E2E9F0 48%, #9DA7B3 86%);

    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.11, #9DA7B3),
      color-stop(0.48, #E2E9F0),
      color-stop(0.86, #9DA7B3)
    );
}
table{
    background: linear-gradient(center top , #9DA7B3 11%, #E2E9F0 48%, #9DA7B3 86%) repeat scroll 0 0 transparent !important;
    background: -moz-linear-gradient(top, #9DA7B3 11%, #E2E9F0 48%, #9DA7B3 86%) repeat scroll 0 0 transparent !important;
    background: -webkit-linear-gradient(top, #9DA7B3 11%, #E2E9F0 48%, #9DA7B3 86%)repeat scroll 0 0 transparent !important;
}