#walkthru-carousel{:class => 'carousel'}
  .carousel-inner
    %div{:class => 'active item'}
      .carousel-container
        %h1 Sign up for an account
    %div{:class => 'item'}
      .carousel-container
        %h1 Post ride offers/requests
    %div{:class => 'item'}
      .carousel-container
        %h1 Search and Hook up 
  %a{:class => 'carousel-control left', :href => "#walkthru-carousel", "data-slide" => "prev"} &lsaquo;
  %a{:class => 'carousel-control right', :href => "#walkthru-carousel", "data-slide" => "next"} &rsaquo;