#walkthru-carousel{:class => 'carousel'}
  .carousel-inner
    %div{:class => 'active item'}
      .carousel-container
        %h2 Sign up for an account
    %div{:class => 'item'}
      .carousel-container
        %h2 Search for rides
    %div{:class => 'item'}
      .carousel-container
        %h2 Post ride offers or requests
  %a{:class => 'carousel-control left', :href => "#walkthru-carousel", "data-slide" => "prev"} &lsaquo;
  %a{:class => 'carousel-control right', :href => "#walkthru-carousel", "data-slide" => "next"} &rsaquo;