%div{:id => "mymodal" , :class => "fade modal", :style => "display:none"}
  %div{:class => "modal-body"}
    %span.sure Are you sure ?
  %div{:class => "modal-footer"}
    #buttons
      %a{:href => "#" , :id => 'confirm_yes', :class => "btn btn-primary" } Yes
      %a{:href => "#" , :id => 'confirm_no', :class => "btn" } No
