#confirmation_overlay.confirm_dialog
  %table
    %tr
      %td
        %span{:style => 'color:#CC0033; font-size:14px;'}
          = "Are you sure?"
  %br
  %table
    %tr
      %td
        %button{:id => 'confirm_yes'}
          = "Yes"
      %td
        %button{:id => 'confirm_no'}
          = "No"
%br
