#exception{:class => 'modal hide fade'}
  .modal-header
    %h1 Exception information
  .modal-body
    %h4
      %small Message
      %p= @exception_message
    %h4
      %small Backtrace
    %p= @exception_trace

    
  


