%table{:class => 'table table-striped'}
  %th Name
  %th Going from
  %th Going to
  %th Time
  - hook_ups.each do |h|
    %tr
      %td= h.contactee.full_name
      %td= h.hookable.ride_origin.name
      %td= h.hookable.ride_destination.name
      %td= h.hookable.ride_time.strftime('%B %d, %Y at %l:%M%p')


