%table
  %tr
    %td.label{:width => '143 px', :style => 'color:block; font-weight: bold;'}
      = label
    %td.image{:width => '100 px'}
      = user_display_pic(@user, '75x75')
    %td.browse
      = form_element.file_field :photo
%br
