.signup-block
  .text-center
    %h2
      %small
        Two ways to get started!
        = link_to('Sign up here', signup_url)
        or use your
        = link_to('Facebook', user_omniauth_authorize_path(:facebook))
        account.
