.signup-block
  %h2
    %small
      Two ways to get started!
      = link_to('Sign up here', signup_url)
      or use your
      = link_to(image_tag("facebook_logo.jpeg", :size => '30x30'), user_omniauth_authorize_path(:facebook))
      account.
