.signup-block
  .text-center
    %h2
      %small
        Two ways to get started!
        = link_to('Sign up', signup_url, :class => 'btn btn-info btn-medium')
        or use your
        = link_to('Facebook', user_omniauth_authorize_path(:facebook), :class => 'btn btn-info btn-medium')
        account.
