#terms{:class => 'modal hide fade'}
  .modal-header
    %h1 Terms and Conditions
  .modal-body
    %p
      If you visit or use this website, you consent to agree to these terms and conditions. Please read them carefully.
    %p
      %h3 Electronic communications
    %p
      You consent to receive communications from us electronically. We will communicate with you by e-mail or by posting notices on this site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.
    %p
      %h3 Your account and sharing of personal information</b>
    %p
      If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. Find.a.Ride reserves the right to refuse service, terminate accounts, remove or edit content in its sole discretion. You also agree to Find-a-Ride sharing your contact/personal information with other users of Find.a.Ride. 
