// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";
@import "partials/form";
@import "partials/one_col";

// layout, home page and general navigation
html {
	height: 100%;
	font-family: 'Varela Round', sans-serif;
}

#welcome_block {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  h1 { font-size: 200%; }
}

#map_canvas {
  display: none;
}

#home {
 #index_copy {
  font-size: 1.25em;
  a:link { color: #638ea8; }
  a:visited { color: #638ea8; }
  a {font-size: 0.75em; }
  width: 100%;
  text-align: center;
 }

 #about_image {
   text-align: center;
   width: 100%;
   margin-top: 80px;
 }

 #signup_block {
  margin-top: 100px;
  width: 100%;
  a:link { color: #638ea8; }
  a:visited { color: #638ea8; }
  text-align: center;
  h1 { font-size: 200%; }
 }
}

// search 
#search_block {
  #search_error {
    margin-left: 30px;
    color: #b52534;
  }
  #spinner_block {
    padding-top: 60px;
    padding-bottom: 20px;
    width: 20%;
    margin-left: auto;
	margin-right: auto; 
	font-size: 125%;
  }
  padding: 20px;
  height: 300px;
  #inputs {
     font-size: 200%;
     span { margin-left: 30px; }
     input { width: 250px; } 
     padding-top: 20px;
     padding-bottom: 40px;
     width: 100%;
     display: block;
     margin-left: auto;
	 margin-right: auto;
	 font-weight: bold;
  }
  #options {
    font-size: 150%;
    width: 55%;
    padding-top: 20px;
    padding-bottom: 40px;
    display: block;
    margin-left: auto;
	margin-right: auto;
  }
  #submit {
    input { width: 200px; }
    font-size: 150%;
    width: 20%;
    display: block;
    margin-left: auto;
	margin-right: auto; 
	padding-bottom: 20px;
	padding-top: 70px;
  }
}

// search results
#search_results_block {
  a:link { color: #638ea8; }
  a:visited { color: #638ea8; }
  height: 300px;
  padding: 10px;
  width: 100%;
  text-align: center;
  #no_results {
    font-size: 1.0em;
    color: #b52534;
  }
  #results {
    .pagination {
	  border: solid 2px #AEB6B9;
	  box-shadow: 1px 1px 11px #AEB6B9;
	  text-align: center;
	  padding: 1em;
	  cursor: default;
	  a, span {
	    padding: 0.2em 0.3em;
	  } 
	  .disabled {
	    color: #aaaaaa;
	  }
	  .current {
	    font-style: normal;
	    font-weight: bold;
	    background-color: darken(#f1f1f1, 20);
	    display: inline-block;
	    width: 1.4em;
	    height: 1.4em;
	    line-height: 1.5;
	    -moz-border-radius: 1em;
	    -webkit-border-radius: 1em;
	    border-radius: 1em;
	    text-shadow: rgba(white, .8) 1px 1px 1px;
	  }
	  a {
	    text-decoration: none;
	    color: black;
	    &:hover, &:focus {
	      text-decoration: underline;
	    }
	  }
	 } 
    #list {
      margin-left: 175px;
      margin-right: 175px;
      margin-top: 20px;
      margin-bottom: 20px;
      border: solid 2px #AEB6B9;
	  box-shadow: 1px 1px 11px #AEB6B9;
	  -moz-border-radius: 10px;
	   border-radius: 10px;
	 table {
	      margin-left: 50px;
	      margin-top: 25px;
	      font-size: 1.25em;
	      width: 85%;
	      border-spacing: 8px;
	      tr { 
		    td.image { width: 100px; }
		    td.name { width: 400px; }
		    td.contact_link {
		      width: 200px; 
		      font-size: 75%; }
		  }
	  }
	}
    span.total {
      font-size: 1.5em;
      font-weight: bold;
    }
    span.go_back {
      font-size: 1.0em;
    }
  }
}

// contact ride
.contact_response {
  margin-top: 25px;
  text-align: center;
  width: 100%;
  font-size: 1.0em;
  color: #b52534;
}

.contact_form {
  li.field { 
    input { 
      width: 250px;
      margin: 25px; 
    }
  }
  .submit_button {
    border: solid 1px #717883;
  }
  textarea {
    width: 80%;
    height: 80px;
    border: 2px solid #cccccc;
    resize: none;
  }
  span { 
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1.25em;
  }
  span.to {
    margin-left: 30px; 
    font-size: 1.25em; 
  }
  ul {
    list-style-type: none;
    font-size: 0.75em;
    font-weight: bold;
  }
  li {
    margin-left: 15px;
    padding-top: 5px;
  }
  .form_wrapper {
    width: 80%;
    height: 55%;
    padding-bottom: 5px;
  }
}

// flash messages
.flash_msg{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
  color: #b52534;
}


#banner_block, #general_hint {
  width: 100%;
  text-align: center;
  margin: 5px;
}

#about_block {
  border: solid 2px #AEB6B9;
  -moz-border-radius: 10px;
  box-shadow: 1px 1px 11px #AEB6B9;
  border-radius: 10px;
  padding: 20px;
  text_align: left;
  h1 { 
    font-size: 200%;
    margin: 15px;
  }
  #text {
    margin: 10px;
    padding: 10px;
    color: #666;
    a:link { color: #638ea8; }
    a:visited { color: #638ea8; }
  }
  #about_image {
    margin: 50px;
    width: 100%;
    margin-left: 450px;
  }
}

#general_hint {
  color: #666;
  font-weight: regular;
  font-size: 0.85em;
}

/* the overlayed element */
.modal_overlay {
  display:none;
  background-image:url(/images/overlay/white.png);
  width:640px;
  height: auto;
  padding:35px;
  font-size:1.0em;
}

/* default close button positioned on upper right corner */
.modal_overlay .close {
  background-image:url(/images/overlay/close.png);
  position: absolute; right:5px; top:5px;
  cursor: pointer;
  height: 35px;
  width: 35px;
}

.confirm_dialog {
  span.sure {
    font-size: 1.25em;
    font-weight: bold;
  }
  #buttons {
    width: 100%;
    input { width: 75px; }
    margin: 20px;
  }
  background-color: #F0F0F0;
  z-index: 10000;
  display: none;
  width: 225px;
  height: 55px;
  padding: 20px;
  border: 1px solid #333;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  -moz-box-shadow: 0 0 50px #ccc;
  -webkit-box-shadow: 0 0 50px #ccc;
}

.confirm_dialog .close {
  background-image: url(/images/overlay/close.png);
  position: absolute; right: -10px; top: -15px;
  cursor: pointer;
  height: 35px;
  width: 35px;
}
ul.css_tabs {
  border-bottom: 2px solid #666666;
  height: 30px;
  margin: 0 !important;
  padding: 0;
  a.current {
    background-color: #FFF;
    border-bottom: 2px solid #FFF;
    color: #000000;
    cursor: default;
  }
  a {
    -moz-border-radius: 4px 4px 0 0;
    background-color: #FFF;
    border-color: #666666 #666666 -moz-use-text-color;
    border-style: solid solid solid;
    border-width: 2px 2px 2px;
    color: #777777;
    display: block;
    float: left;
    font-size: 13px;
    height: 18px;
    margin-right: 2px;
    outline: 0 none;
    padding: 5px 30px;
    position: relative;
    text-decoration: none;
    top: 1px;
  }
 li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
.css_panes div.tab_content {
  background-color: #FFF;
  border-color: #666666;
  border-style: solid;
  border-width: 0 2px 2px;
  min-height: 150px;
}

.hide {
  display:none;
}

.show {
  display:block;
}