// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";
@import "partials/form";
@import "partials/one_col";

// layout, home page and general navigation
html {
	height: 100%;
	font-family: 'Aldrich', sans-serif;
}

#welcome_block {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  h1 {font-size: 200%;}
}


// flash messages
#flash_alert, #flash_error, #flash_warning, #flash_notice {
  text_align: center;
  display: inline-block;
  padding: 10px;
  background: #eceeeb;
  border-color: #eceeeb;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 7px;
  color: #b52534;
}

#signup_block {
  margin-top: 50px;
  padding-top: 25px;
  width: 100%;
  text-align: center;
  h1 {
    font-size: 200%;
  }
}

#banner_block, #profile_edit_hint {
  width: 100%;
  text-align: center;
  margin: 5px;
}

#about_block {
  width: 100%;
  margin: 5px;
  text_align: left;
  h1 { font-size: 200% }
  #text {
    margin: 10px;
    padding: 10px;
    color: #666;
  }
  #about_image {
    margin: 50px;
    width: 100%;
    margin-left: 450px;
  }
}

#profile_edit_hint {
  color: #666;
  font-size: 0.85em;
}

/* the overlayed element */
.tos_overlay {
  display:none;
  background-image:url(/images/overlay/white.png);
  width:640px;
  padding:35px;
  font-size:1.0em;
}

/* default close button positioned on upper right corner */
.tos_overlay .close {
  background-image:url(/images/overlay/close.png);
  position:absolute; right:5px; top:5px;
  cursor:pointer;
  height:35px;
  width:35px;
}
