.hero-unit
  .first-about
    .text-center
      = image_tag('logo.png')
    %br
    %h2.text-center
      OntheWay is on a mission to the help the planet
    %br
    %p
      We are responsible citizens. Not just for our colonies, but for the entire planet. And it is our responsibility to conserve our resources. OnTheWay is a service we are doing to ourselves. On this site, People who want to share rides can contact each other & mutually arrange for traveling together. Travelers looking for a ride can post a request and search for folks who can offer them a ride. Folks who want to share their vehicle can similarly post an offer or search for people who are looking for a ride.
    %p
      OnTheWay is available for the city of <b>Hyderabad</b>. We hope to expand to other metros in India in the near future. This service is entirely free and is brought to you by 
      = link_to('Imaginea.', 'http://www.imaginea.com/labs', :target => '_blank')
    %p
      Please be aware that the service is still in beta and you could run into minor glitches using it. We would appreciate if you can take the time to let us know about them. It would help us a great deal in improving this service.
    %br
    .text-center 
      = link_to "See terms of service", '#terms', :class => 'btn btn-info btn-large', "data-toggle" => "modal"
= render :partial => "shared/tos"
