#about_block
  %h1
    %b Find-a-Ride is on a mission to the help the planet (Hyderabad for now)!
  #text
    %p
      The idea is to help folks hook up with other people to share a ride (four-wheeler, two-wheeler and other modes of commute). People with vehicles can find people who can ride with them. People without vehicles can find people who drive them. In the process - Fuel is saved. Man-hours is saved. Our Planet's life is extended a little. This site doesn't deal with financial arrangement between the parties and that is left to the discretion of those involved. This service is limited to the city of Hyderabad for now. We hope to expand to other metros in India in the near future.