%hr
.hero-unit
  .text-center  
    %h2
      Hey #{current_user.first_name}!
      %br
      %small
        Since you chose be to inactive, you are not allowed to offer/request rides or search for them either. Please visit the
        = link_to "edit profile", edit_user_registration_path
        page to update your account settings.
    %br
    = image_tag('inactive.jpg', :size => '250x250')
