.hero-unit
  .home
    =# render 'shared/carousel'
    %br
    %h3
      This is a free service that enables eco-friendly citizens to find and share rides with other like minded folks to drive down fuel usage, save money and mother earth in the process. Simple, ain't it?
      = link_to('Learn more', about_url, :class => 'btn btn-primary btn-medium')
    %br
    %br
    - unless user_signed_in?
      = render 'shared/signup'
.hero-unit.search-results
  %br
  = render :partial => 'rides/ride_offers_list', :locals => {:url => index_path}
  %br
    .search-spinner
      .progress.progress-bar.progress-striped.active
        .bar{:style=>"width: 100%;"}
  %br
  .ride_offer= render 'grid'

