.hero-unit
  %h2.text-center There was a problem processing your request!
  %br
  = image_tag("500error.png")
  %br
  %p
  %h2.text-center
    %small
      We have been notified of the problem and we are looking into it. Please
      = link_to('go back', root_url)
      to the home page.
  %br
  - if Rails.env.development?
    %h3.text-center= link_to("Show exception information", '#exception', "data-toggle" => "modal", :class =>'btn btn-info btn-large')
= render 'shared/exception'