%h2 Internal Error
%div
  %h3 We're sorry
  %p
    The server encountered an internal error or misconfiguration and was unable to complete your request.
  %p
    Want to
    %a{href: root_path} go back to our home page
    and try again?