%h2 Unprocessable entity
%div
  %h3 We're sorry
  %p
    There was a problem authenticating the submitted form. Reload the page and try again.
  %p
    Want to
    %a{href: root_path} go back to our home page
    and try again?