%p
  Welcome #{@resource.full_name}!
%p You can verify your account through the link below:
%p= link_to 'Verify my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
