%p
  Hello #{@resource.full_name}!
%p The password to your Find-a-Ride account can be changed using the link below.
%p= link_to 'Change my password', users_change_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p If you didn't request this, please ignore this email.

