.no-results
  %h2 Sorry! We did not find any rides matching your criteria. Please come back and try later.
  %br
  %span{:class => 'label label-important'} Note: If you have created a request or offer in the system, other users can still find you and hook up with you.