.no-results
  %h2 Based on the criteria you used, We found no rides at the moment. Please come back and try later.
  %br
  %span{:class => 'label label-important'} Note: Since you have created a request or offer in the system, other users can still find you and hook up with you.