.no-results
  %h2 
    Based on the criteria you used, We found no rides at the moment. Please try searching later or put in a 
    = link_to('request for a ride', new_ride_path, :class => 'btn btn-info btn-large')
