%ul{:class => 'nav nav-tabs'}
  - if !params[:type].nil? && params[:type].downcase == 'rideoffer'
    %li
      %a{:href => '#ride-request', 'data-toggle' => 'tab'} Request a Ride
    %li.active
      %a{:href => '#ride-offer', 'data-toggle' => 'tab' , :id => 'offer'} Offer a Ride
  - else
    %li.active
      %a{:href => '#ride-request', 'data-toggle' => 'tab'} Request a Ride
    %li
      %a{:href => '#ride-offer', 'data-toggle' => 'tab' , :id => 'offer'} Offer a Ride
