%ul{:class => 'nav nav-tabs'}
  %li.active
    %a{:href => '#ride-request', 'data-toggle' => 'tab'} Request a Ride
  %li
    %a{:href => '#ride-offer', 'data-toggle' => 'tab' , :id => 'offer'} Offer a Ride
