.hero-unit.search-results.offer-list
  %div.middle-unit
    = render :partial => 'ride_offers_list', :locals => {:url => rides_path}
    %br
    .search-spinner
      .progress.progress-bar.progress-striped.active
        .bar{:style=>"width: 100%;"}
    %br
    .ride_offer= render 'rides/grid'



