%br
.hero-unit.search-results
  %p
    = render :partial => 'ride_offers_list', :locals => {:url => rides_path}
    %br
    %br
    .ride_offer= render 'rides/grid'
.text-center
  %h2
    Search for a ride offer
  %br
  = link_to('Search', search_rides_path, :class => 'btn btn-info btn-large')