:plain
  $(".result-popover").popover('hide');  
  var result = function(){
    $(".search-spinner").fadeOut('slow',function(){
      $(".ride_offer").html("#{escape_javascript(render 'grid')}");
      $(".ride_offer").fadeIn('slow',function(){
        initSearchResultsPopovers();
      });
    });
  }
  setTimeout(result,1000);
  
 
  
 
