%hr
.hero-unit
  - if @paginated_results.empty?
    = render 'rides/no_results'
  - else
    = render 'grid'
  %br
  = link_to('Go back', rides_path+"?type=#{params[:type]}", :class => 'btn btn-small btn-info')
