.results
  %h2 
    We found
    = pluralize(@paginated_results.total_entries, 'ride offer') 
    matching your criteria. Feel free to hook up.
  %br
  %span{:class => 'label label-important'} Note: Ride time considered is a 1 hr window around yours 
  %br
  = render :partial => 'shared/rides_table', :locals => {:results => @paginated_results, :type => :ride_offer}
  = will_paginate @paginated_results, :renderer => BootstrapLinkRenderer
