.results
  %h2 
    Based on the criteria you used, We found
    = pluralize(@paginated_results.total_entries, 'folk') 
    looking to offer a ride. Hook up with them to hitch a ride.
  %br
  %span{:class => 'label label-important'} Note: Ride time considered is a 1 hr window around your time criteria
  %p
  = render :partial => 'shared/rides_table', :locals => {:results => @paginated_results, :type => :ride_offer}
  = will_paginate @paginated_results, :renderer => BootstrapLinkRenderer
