.results
  %h2 
    Based on the criteria you used for your request, We found
    = pluralize(@paginated_results.total_entries, 'dude') 
    looking to offer a ride. 
  %br
  %p
  = render :partial => 'shared/rides_table', :locals => {:results => @paginated_results, :type => :ride_offer}
  = will_paginate @paginated_results, :renderer => RemoteLinkRenderer
