- @ride_request = RideRequest.new
- @ride_offer = @ride_offer ||= RideOffer.new
= render 'rides/tabs'
.tab-content
  %div{:class => 'tab-pane fade active in', :id => 'ride-request'}
    = render 'ride_requests/new'
  %div{:class => 'tab-pane fade', :id => 'ride-offer'}
    = render 'ride_offers/new'
.text-center
  = link_to('Search for a ride', rides_path, :class => 'btn btn-info btn-large')
:javascript
    $(document).ready( function() {
      $('#offer').tab('show');
    } );
