!!!
%html
  %head
    %h1{:class => "error_heading"}There was a problem serving the requested page.
    = stylesheet_link_tag 'application.css'
  %body
    .navbar
      = yield
      %hr
      .footer
        %h2{:class => "error_heading"} Now you're wondering , "what do i do now!?!", well...
        %footer_div{:class => "error_text_footer"}
          %ul
            %li you can try refreshing the page,the problem may be temporary.
            %li if you entered the url in by hand,double check that it is correct.
            %li we've been notified of the problem and will do our best to make sure this doesn't happen again.
